1 de 59
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de artistas</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body class="fondoArt">
    <h1 class="artistas">Artista: {{ artista["Name"] }}</h1>
    <h2>Albums:</h2>
    <ul>
      {% for album in albums %}
      <li>{{ album["Title"] }}</li>
      {% endfor %}
    </ul>
  </body>
  <section class="content">
    <header>{% block header %}{% endblock %}</header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %} {% block content %}{% endblock %}
  </section>
</html>
